* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1vh 5px;
    font-family: verdana;
}

header,
nav {
    margin-bottom: 1vh;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 20vh;
}

nav {
    height: 10vh;
}

main {
    display: flex;
    gap: 5px;
}

section {
    flex: 4;
    background-color: rgb(235, 235, 235);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    flex: 1;
    text-align: center;
    background-color: rgb(235, 235, 235);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgb(235, 235, 235);
    margin-top: 1vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
