*{
    margin: 0;
    padding: 0;
}
body{
    margin: 5px;
    font-family: verdana;
}
header, nav{
    text-align: center;
    margin-bottom: 5px;
    background-color: rgb(235, 235, 235);
    padding: 5px;
}
header{
    padding: 20px;
}
main{
    display: flex;
    gap: 5px;
}
section{
    flex: 4;
    background-color: rgb(235, 235, 235);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside{
    flex: 1;
    text-align: center;
    background-color: rgb(235, 235, 235);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    text-align: center;
    background-color: rgb(235, 235, 235);
    margin-top: 5px;
    padding: 10px;
}